@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
    width: 100%;
    height:auto;
    top:0;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 14, 14);
    font-family: 'Cascadia Code';
    color: rgb(199, 199, 199);
    font-weight: 600;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}

.listalign{
    display: block;
    text-align: left;
    width: fit-content;
    margin: .3rem auto;
    color: rgb(214, 214, 214);
}
.container{
    height: auto;
    width: 80%;
    margin:0 auto;
    align-self: center;
    /* border: 1px solid blue; */
}
.ptitle{
    width: 30%;
    margin: 3rem auto;
    text-align: center;
    color: rgb(255, 255, 255);
}
.ptitle > h4 > a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color:rgb(179, 205, 226);
}
.ptitle > h4{
    margin: 0;
    padding: 0;
    color:rgb(182, 182, 182);
}
.ptitle > h2{

    padding-bottom: 0;
    margin-bottom: 0;
}

.paracard{
    margin: 3rem auto;
    height: fit-content;
    width: 40%;
    border: 0px solid yellow;
    align-self: center;
    /* background-color: rgb(104, 104, 104); */
    text-align: center;
}
.paracard > p{
    display: inline-block;
    max-width: 100%;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin:0;
    padding-left: .5rem;
    padding-right: .5rem;
    transition: .4s;
   
}
.paracard > .photo_right{
    display: inline-block;
    background-image: url('imgs/pc_bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    float: right;
    width: 20%;
    height: 100%;
    right: 0;
    background-color: rgb(45,45,45);
}
.paracard > .photo_left{
    display: inline-block;
    background-image: url('imgs/pc_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20%;
    height: 100%;
    float: left;
    left: 0;
    background-color: rgb(45,45,45);
    text-align: center;
}
.paracard > h2 {
    color:rgb(186, 214, 238);
}
.paracard > p > a{
    transition: ease-in-out .4s!important;
}
.paracard > p > a:hover {
    display: inline-block;
    transform: scale(1.2);
    background-color: rgb(25, 25, 25);
    transition: ease-in-out .4s;
    padding: .3rem .3rem .3rem .3rem;
    z-index: 4;
}

.findme{
    position: relative;
    width:auto;
    margin: 0 auto;
    text-align: center;
  
}
.findme > span{
    display: inline-block;
    padding-right: .3rem;
    padding-left: .3rem;
    transition: ease-in-out .3s;
    padding: .4rem;

}
.findme>a{
    display: inline-block;
}
.findme > h4 {
    font-weight: 300;
    color:rgb(68, 216, 184);
}
.findme > h2 {
    color:rgb(186, 214, 238);
}
span > a {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:rgb(33, 218, 144);
}
#linkedin{
    color: rgb(63, 138, 205)!important;
}
#github{
    color: rgb(127, 63, 205)!important;
}
#instagram{
    color: rgb(209, 44, 184)!important;
}
#steam{
    color:rgb(58, 65, 103)!important;
}
.findme > span:hover{
    transform: scale(1.2);
    transition: .3s;
    /* color: red!important; */
    /* background-color: rgba(255, 255, 255, .2); */
    z-index: 4;
}



@media screen and (max-width: 1920px){
    .container{
        width: 100%;
      
    }
    .paracard{
        width: 45%;
    }
    }
    .findme > span {
        font-size: 1.3rem;
        transition: ease-in-out .3s;
    }
  
    

@media screen and (max-width: 1000px){
    .container{
        width: 100%;
    }
    .paracard{
        width: 100%;
    }
    .ptitle{
        width: 70%;
    }

    .findme>a{
        display: block;
    }
    .findme > span {
        display: block;
        font-size: 1.6rem;
        transition: ease-in-out .3s;
        width: fit-content;
        margin: 0 auto;
    }
}

/* @media screen and (max-width: 750px){
   
   
    } */
    




