/*Author: Alexandros Pyrgiotakis*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   color: white;
   background-color: #444444;
   overflow: auto;
   height: 90%;
   width: 100%;
   min-height: 99%;
   min-width: 100%;
   border: 0px solid red;
   position: absolute;
   margin: 0 0 0 0;
   padding: 0 0 0 0;

}


/*horizontal containers*/
.hcontainer{
  padding-top: 3.5em;
  min-width: 100%;
  width: 100%;
  display: block;
  height: calc(100%/3);
  max-height: calc(100%/3);
  border: 0px solid purple;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-content: center;
  align-items: center;
  overflow:auto;

}

#first{background-image: url("imgs/Programming_mn.jpg");}
#second{background-image: url("imgs/pc_bg.jpg");}
#third{background-image: url("imgs/findme.jpg");}

/*Title containers/Just Titles Content*/
.title{
}
.title#bld{font-weight: 400;}
#ttl{align-self: center;
  margin: 0 auto;
}
/*Dialog containers Content*/
.dlg{
  text-align: center;
  border-radius: 2em;
  background-color: rgba(20,20,20,0.9);
  height: 80%;
  overflow: auto;
  width: 80%;
  margin:0 auto;
  padding: 0em 3em 0em 3em;
}
/*L*/

/*R*/
#lng{
 color: red;
}
/*modal*/
.footer{
  text-align: center;
  width: 100%;
  padding: 1em 0em 1em 0em;
}
